@{
    ViewData["Title"] = "Acesso Negado";
}

<h2>Acesso Negado</h2>
<hr />
<p>Você não tem permissão para acessar esta página.</p>
<a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Voltar para Home</a>
