@model ClinicaSaude.Shared.Models.Consulta

@{
    ViewData["Title"] = "Detalhes da Consulta";
}

<h2>Detalhes da Consulta</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Data</dt>
        <dd class="col-sm-10">@Model.Data.ToString("dd/MM/yyyy HH:mm")</dd>

        <dt class="col-sm-2">Paciente</dt>
        <dd class="col-sm-10">@Model.Paciente.Nome</dd>
    </dl>
</div>

<a asp-action="Index" class="btn btn-secondary">Voltar</a>
